{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container jumbotron text-center jumbohelp">
  <h1>About us</h1>
  <p>The Team behind F1 Better started its work in december of 2017 when they were all still in University. However over the following days/weeks the teammembers all left the University to chase their dreams,
  creating the very best Formula One betting site on the planet. The Team has been putting in numurous hours in combination with a lot of coffee.
Now that the official launch of the application is coming closer it is becoming clear that the risk they took by leaving the University to chase their dreams will be highly rewarded, because the website they made
has been getting a load of traffic and business is booming. </p>
<hr />
<h5>The F1 better team</h5>
</div>

{% endblock content %}
