{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<main role="main">
    <section id="toptext" class="jumbotron text-center ">
        <div class="container">
            <h1 class="jumbotron-heading">Account details</h1>
            <h4> logged in as:</h4>
            <h5> {{ user }} </h5>
        </div>
    </section>
    <div class="taskContainer2" align="center">
    <div class="row" id="targetRow" align="center">

        <div class="col-6">
            <h5> Your current balance: €{{ balance }}</h5>
            <p><i>In this version of the website this function will just add €20.00 to your account balance, but in feature versions this will of course redirect you to a banking site where you can transfer the money.</i></p>
            <a class="btn btn-primary" href="{% url 'add_balance' %}" type="submit">Add balance</a>
        </div>

        <div class="col-6">
            <h5> My ongoing bets: </h5>
            {% if not ongoing_bets %}
                <p>You have no ongoing bets.</p>
            {% else %}
                {% for bet in ongoing_bets %}
                    <p>{{ bet.my_bets }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-6">
        </div>
        <div class="col-6">
            <br>
            <h5> My past bets: </h5>
            {% if not past_bets %}
                <p>You have no past bets.</p>
            {% else %}
                {% for bet in past_bets %}
                    {% if bet.is_win %}
                    <p>{{ bet.my_bets }} - WON: {{ bet.reward }}$</p>
                    {% else %}
                    <p>{{ bet.my_bets }} - LOST</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    </div>
</main>

{% endblock content %}
