{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container jumbotron text-center jumbohelp">
  <h1>Help</h1>
  <br>
  <h5>On this help page you can find information on how to place bets.</h5>
  <br>
  <p>To place your first bet you will first have to create an account or login with you existing account which can be done in the topright side of the screen were you can login or register. </p>
  <p>After you have logged in, you have to add some balance because without balance you can't place a bet. Go to your account page and press the "add balance" button. </p>
  <p>Now that you have some balance on your account lets make your first bet, go to the races page and click on a race that you want to bet on.</p>
  <p>After Selecting the race, select the amount you want to bet and select the driver you want to bet and place your bet. </p>
  <p>Now all you have to do is wait for the results to come in and check if you won your bet!</p>
  <hr />
  <h6>For any other questions, mail us at: f1betterteam@gmail.com</h6>
</div>
{% endblock content %}
