{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section id="toptext" class="jumbotron text-center ">
        <div class="container">
            <h1 class="jumbotron-heading">Login Here!</h1>

            <form method="post">
                {% csrf_token %}

                {% for message in messages %}
                <br>
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert"></a>
                    {{ message }}
                </div>
                {% endfor %}

                <label for="id_username"></label>
                <input type="text" name="username" autofocus="" maxlength="254" required="" id="id_username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">

                <label for="id_password"></label>
                <input type="password" name="password" required="" id="id_password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                <br>
                <a href="{% url 'register' %}">No account? Register here!</a>
                <br>
                <br>
                <button class="btn btn-primary" type="submit">Login</button>
                <br>
            </form>
        </div>
    </section>
{% endblock content %}
