{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<main role="main">
    <main role="main">

        <section id="AddBet" class="jumbotron text-center ">
            <div class="borderline">
                <div class="container">
                    <h1 class="jumbotron-heading">Add a new race</h1>
                    <br>

                    <b>Current races:</b>
                    <br>
                    <br>
                    {% regroup races by track as races_grouped %}
                    {% for race in races_grouped %}
                    <b>Track:</b> {{ race.grouper }}
                        <br>
                        <b>Drivers:</b>
                        {% for trackdriver in race.list %}
                            {%if not forloop.first%}
                            ,
                            {% endif %}
                            {{ trackdriver.driver }}
                        {% endfor %}
                        <br>
                        <br>
                    {% endfor %}

                    <form action="add_race" method="post">
                        {% csrf_token %}
                        <select class="custom-select my-1 mr-sm-2" name="track">
                            <option selected>Choose a track</option>

                            {% for track in tracks %}
                            <option value="{{ track.id }}">{{ track }}</option>
                            {% endfor %}

                        </select>

                        <br>
                        <br>
                        <h6>Select drivers for race</h6>
                        <!-- Use for loop to repeat this so all drivers get this and put the name of the driver in the label section--->

                        {% for driver in drivers %}
                        <div class="form-check form-check-inline" style="margin-left:0.75rem">
                            <input class="form-check-input" type="checkbox" name="drivers" id="{{ driver.id }}" value="{{ driver.id }}">
                            <label class="form-check-label" for="{{ driver.id }}">{{ driver }}</label>
                        </div>
                        {% endfor %}

                        <br>
                        <br>
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </form>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <br>
            <div class="borderline">
                <div class="container">
                    <h1 class="jumbotron-heading">Add a new driver</h1>

                    <b>Current drivers:</b>
                    <br>
                    {% for driver in drivers %}
                    {{ driver }}
                    <br>
                    {% endfor %}
                    <br>

                    <form action="add_driver" method="post">
                        {% csrf_token %}
                        {{ form_add_driver }}
                        <br>
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </form>

                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <br>
            <div id="borderline">
                <div class="container">
                    <h1 class="jumbotron-heading">Remove a driver</h1>
                    <br>

                    <form action="remove_driver" method="post">
                        {% csrf_token %}
                        <select class="custom-select my-1 mr-sm-2" name="driver_to_remove">
                            <option value="" disabled selected>Choose a driver</option>
                            {% for driver in drivers %}
                            <option value="{{ driver.id }}">{{ driver }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <br>
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </form>

                </div>
                <br>
                <br>
            </div>
            <br>
            <div class="borderline">
                <div class="container">
                    <h1 class="jumbotron-heading">Add a new track</h1>

                    <b>Current tracks:</b>
                    <br>
                    {% for track in tracks %}
                    {{ track }}
                    <br>
                    {% endfor %}
                    <br>

                    <form action="add_track" method="post">
                        {% csrf_token %}
                        {{ form_add_track }}
                        <br>
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </form>

                    <br>
                    <br>
                    <br>

                </div>
            </div>
            <br>

            <div class="container">
                <h1 class="jumbotron-heading">Remove a track</h1>
                <br>

                <form action="remove_track" method="post">
                    {% csrf_token %}
                    <select class="custom-select my-1 mr-sm-2" name="track_to_remove">
                        <option value="" disabled selected>Choose a track</option>
                        {% for track in tracks %}
                        <option value="{{ track.id }}">{{ track }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <input type="submit" value="Submit" class="btn btn-success" />
                </form>
            </div>

        </section>
    </main>
</main>
{% endblock content %}