{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main role="main">
    <section id="toptext" class="jumbotron text-center ">
        <div class="container">
            <h1 class="jumbotron-heading">Make your F1 bets here!</h1>
            <p>Underneath here are all the upcoming races listed that you are able to place bets on, click on the track image of a race to proceed to . Before you can place a bet you must login first. </p>
        </div>
    </section>
<div class="taskContainer" align="center">
    <div class="row" id="targetRow" align="center">

        {% if races %}
                    {% for race in races %}

                  <div class="col-sm-4" >
                    <div class="borderspace racebox" style="background-color: white">
                        <div class="top-tracks">
                            <p width="100%">{{ race.track }}, {{ race.event }}</p>

                        </div>
                        <div class="thumbnail">
                            <a href="details_track/{{ race.id }}">
                                <img src="{{ race.track.image }}" alt="Track image" style="width:100%" >
                            </a>
                            <h6 width="100%">Ends on {{ race.end_date }}, Odds: {{ race.multiplier }}</h6>
                        </div>
                    </div>
                    <div class="spacer"></div>
                </div>

            {% endfor %}
        {% else %}
            There are currently no races to bet on.
        {% endif %}
</div>
</div>
    </main>
{% endblock content %}
