{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main role="main">
    <section id="toptext" class="jumbotron text-center ">
        <div class="container">
            <h1 class="jumbotron-heading">Make your F1 bets here!</h1>
            <p>Current races to bet on: </p>
        </div>
    </section>
<div class="taskContainer" align="center">
    <div class="row" id="targetRow" align="center">

        {% if races %}
                    {% for race in races %}

                  <div class="col-sm-4">
                    <div class="borderspace">
                        <div class="top-tracks">
                            <p width="100%">{{ race.track }}, {{ race.event }}</p>

                        </div>
                        <div class="thumbnail">
                            <a href="details_track/{{ race.id }}">
                                <img src="{{ race.track.image }}" alt="Track image" style="width:100%">
                            </a>
                            <h6 width="100%">Ends on {{ race.end_date }}, Multiplier {{ race.multiplier }}x</h6>
                        </div>
                    </div>
                    <div class="spacer"></div>
                </div>

            {% endfor %}
        {% else %}
            There are currently no races going on.
        {% endif %}
</div>
</div>
    </main>
{% endblock content %}
